
practice-state/.DS_Store
practice-state/node_modules
practice-state/package-lock.json
practice-state/public/.DS_Store
practice-state/public/img/.DS_Store
practice-state/yarn.lock
practice-state/src/.DS_Store
